<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>list.html</h2>
    세션값확인: <p th:text="${session['loginEmail']}"></p>
    세션값확인: <p th:text="${session.loginEmail}"></p>

    <table>
        <tr>
            <th>id</th>
            <th>email</th>
            <th>password</th>
            <th>nickname</th>
            <th>category</th>
        </tr>
        <tr th:each="member: ${memberList}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.password}"></td>
            <td th:text="${member.nickname}"></td>
            <td th:text="${member.category}"></td>
            <td>
                <a th:href="@{|/member/${member.id}|}">조회</a>
            </td>
        </tr>
    </table>
</body>
</html>