<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/default.css">

    <title>Study It.</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 shadow-lg sticky-top">
        <div class="container">
            <a href="index.html" class="navbar-brand align-middle">
                <h3 class="m-0">
                    <img src="/assets/images/logo.png" alt="Logo" height="36px">
                    Study It.
                </h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collepse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collepse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-0 mb-lg-50">
                    <li class="nav-item">
                        <a href="#top" class="nav-link">
                            스톱워치
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#planner" class="nav-link">
                            플래너
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#groupstudy" class="nav-link">
                            그룹스터디
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#statistics" class="nav-link">
                            통계
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#ranking" class="nav-link">
                            랭킹
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#Banapp" class="nav-link">
                            금지앱 설정
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#board" class="nav-link">
                            게시판
                        </a>
                    </li>
                </ul>
                <form class="d-flex" role="signupbtn">
                    <button class="btn btn-sm btn-success" type="submit">회원가입</button>
                  </form>
            </div>
        </div>
    </nav>
    <div class="container-xxl overflow-hidden">
        <div class="row my-5 align-items-center justify-content-center">
            <div class="col-md-auto mr-5">
                <button href="#stopwatch" class="a btn btn-sm btn-secondary mr-3" type="submit">스톱워치</button>
            </div>
            <div class="div col-md-auto mr-5">
                <button href="#todo" class="a btn btn-sm btn-secondary" type="submit">To-do list</button>
            </div>
            <div class="div col-md-auto mr-5">

                <button href="#caleandar" class="a btn btn-sm btn-secondary" type="submit">일정</button>
            </div>
        </div>
    </div>


    <div>
        <h1>TODO list</h1>
    </div>


    <!-- Button to Open the Modal -->
    <div id="add-btn-div">
        <button type="button" class="btn add-btn" data-toggle="modal" data-target="#myModal">
            TODO 추가
        </button>
    </div>
    <div id="todo-list">
      <!--todo-->
        <div class="todo-div todo-display-none" id="todo-div0">
            <input type="hidden" id="todo-id0">
            <div class="todo-header">
                <div class="custom-control form-control-lg custom-checkbox col-sm-7 todo-header-item">
                    <input type="checkbox" class="custom-control-input todo-header-item" id="customCheck0" value= 0 >
                    <label class="custom-control-label todo-header-item" for="customCheck0"><h5 class="title title0"><!--제목--></h5></label>
                    <span class="time-over todo-display-none" id="time-over0">&nbsp;(기한이 지났습니다.)</span>
                </div>
                <span class="todo-header-item col-sm-2 dead-line-date created-date0"></span>
                <span class="todo-header-item col-sm-2 dead-line-date dead-line-date0"></span>
                <span id="priority0" class="badge badge-pill col-sm-1" style="width: auto;"></span>
            </div>
            <div class="todo-desc desc0">
                <!-- 설명 -->
            </div>
            <div class="todo-btn">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#updateModal" onclick="loadTask(0);">수정</button>
                <button type="button" class="btn btn-outline-dark" onclick="deleteTodo(0);">삭제</button>
            </div>
        </div>
        <!--todo-->
        <div class="todo-div todo-display-none" id="todo-div1">
            <div class="todo-header">
                <input type="hidden" id="todo-id1">
                <div class="custom-control form-control-lg custom-checkbox col-sm-7 todo-header-item">
                    <input type="checkbox" class="custom-control-input todo-header-item" id="customCheck1" value= 1>
                    <label class="custom-control-label todo-header-item" for="customCheck1"><h5 class="title title1"><!--제목--></h5></label>
                    <span class="time-over todo-display-none" id="time-over1">&nbsp;(기한이 지났습니다.)</span>
                </div>
                <span class="todo-header-item col-sm-2 dead-line-date created-date1"></span>
                <span class="todo-header-item col-sm-2 dead-line-date dead-line-date1"></span>
                <span id="priority1" class="badge badge-pill col-sm-1" style="width: auto;"></span>
            </div>
            <div class="todo-desc desc1">
                <!-- 설명 -->
            </div>
            <div class="todo-btn">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#updateModal" onclick="loadTask(1);">수정</button>
                <button type="button" class="btn btn-outline-dark" onclick="deleteTodo(1);">삭제</button>
            </div>
        </div>
        <!--todo-->
        <div class="todo-div todo-display-none" id="todo-div2">
            <div class="todo-header">
                <input type="hidden" id="todo-id2">
                <div class="custom-control form-control-lg custom-checkbox col-sm-7 todo-header-item">
                    <input type="checkbox" class="custom-control-input todo-header-item" id="customCheck2" value= 2>
                    <label class="custom-control-label todo-header-item" for="customCheck2"><h5 class="title title2"><!--제목--></h5></label>
                    <span class="time-over todo-display-none" id="time-over2">&nbsp;(기한이 지났습니다.)</span>
                </div>
                <span class="todo-header-item col-sm-2 dead-line-date created-date2"></span>
                <span class="todo-header-item col-sm-2 dead-line-date dead-line-date2"></span>
                <span id="priority2" class="badge badge-pill col-sm-1" style="width: auto;"></span>
            </div>
            <div class="todo-desc desc2">
                <!-- 설명 -->
            </div>
            <div class="todo-btn">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#updateModal" onclick="loadTask(2);">수정</button>
                <button type="button" class="btn btn-outline-dark" onclick="deleteTodo(2);">삭제</button>
            </div>
        </div>
        <!--todo-->
        <div class="todo-div todo-display-none" id="todo-div3">
            <div class="todo-header">
                <input type="hidden" id="todo-id3">
                <div class="custom-control form-control-lg custom-checkbox col-sm-7 todo-header-item">
                    <input type="checkbox" class="custom-control-input todo-header-item" id="customCheck3" value= 3>
                    <label class="custom-control-label todo-header-item" for="customCheck3"><h5 class="title title3"><!--제목--></h5></label>
                    <span class="time-over todo-display-none" id="time-over3">&nbsp;(기한이 지났습니다.)</span>
                </div>
                <span class="todo-header-item col-sm-2 dead-line-date created-date3"></span>
                <span class="todo-header-item col-sm-2 dead-line-date dead-line-date3"></span>
                <span id="priority3" class="badge badge-pill col-sm-2" style="width: auto;"></span>
            </div>
            <div class="todo-desc desc3">
                <!-- 설명 -->
            </div>
            <div class="todo-btn">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#updateModal" onclick="loadTask(3);">수정</button>
                <button type="button" class="btn btn-outline-dark" onclick="deleteTodo(3);">삭제</button>
            </div>
        </div>
        <!--todo-->
        <div class="todo-div todo-display-none shadow" id="todo-div4">
            <div class="todo-header">
                <input type="hidden" id="todo-id4">
                <div class="custom-control form-control-lg custom-checkbox col-sm-7 todo-header-item">
                    <input type="checkbox" class="custom-control-input todo-header-item" id="customCheck4" value= 4>
                    <label class="custom-control-label todo-header-item" for="customCheck4"><h5 class="title title4"><!--제목--></h5></label>
                    <span class="time-over todo-display-none" id="time-over4">&nbsp;(기한이 지났습니다.)</span>
                </div>
                <span class="todo-header-item col-sm-2 dead-line-date created-date4"></span>
                <span class="todo-header-item col-sm-2 dead-line-date dead-line-date4"></span>
                <span id="priority4" class="badge badge-pill col-sm-2" style="width: auto;"></span>
            </div>
            <div class="todo-desc desc4">
                <!-- 설명 -->
            </div>
            <div class="todo-btn">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#updateModal" onclick="loadTask(4);">수정</button>
                <button type="button" class="btn btn-outline-dark" onclick="deleteTodo(4);">삭제</button>
            </div>
        </div>
    </div>

    <div id="pagination-btn">
        <!--페이징-->
        <a href="#" class="previous" onclick="before();">&laquo; Previous</a>
        <span id="now-page"></span>
        <span >/</span>
        <span id="total-page"></span>
        <a href="#" class="next" onclick="next();">Next &raquo;</a>
    </div>
    <!-- 모달 : TO-DO 추가하기 -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">TODO 추가하기</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="form-title" class="col-form-label">제목 : </label>
                        <input type="text" class="form-control" id="form-title"  maxlength="40">
                    </div>
                    <div class="form-group">
                        <label for="form-desc" class="col-form-label">내용 : </label>
                        <textarea class="form-control" id="form-desc" maxlength="300"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="deadline-date" class="col-form-label">마감기한 : </label>
                        <input type="date" class="form-control" id="deadline-date">
                    </div>
                    <p>우선 순위 : </p>
                    <div>
                        <div class="form-check-inline">
                            <label class="form-check-label priority1">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="High"> High
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label priority2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="Medium"> Medium
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label priority3">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="Low"> Low
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="submit-todo">추가</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 모달 : TO-DO 수정하기 -->
    <div class="modal" id="updateModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">TODO 수정하기</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" id="update-todo-id">
                    <div class="form-group">
                        <label for="form-title" class="col-form-label">제목 : </label>
                        <input type="text" class="form-control" id="form-title-update"  maxlength="40">
                    </div>
                    <div class="form-group">
                        <label for="form-desc" class="col-form-label">내용 : </label>
                        <textarea class="form-control" id="form-desc-update" maxlength="300"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="deadline-date" class="col-form-label">마감기한 : </label>
                        <input type="date" class="form-control" id="deadline-date-update">
                    </div>
                    <p>우선 순위 : </p>
                    <div>
                        <div class="form-check-inline">
                            <label class="form-check-label priority1">
                                <input class="form-check-input" type="radio" name="priorityRadioUpdate"  value="High"> High
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label priority2">
                                <input class="form-check-input" type="radio" name="priorityRadioUpdate"  value="Medium"> Medium
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label priority3">
                                <input class="form-check-input" type="radio" name="priorityRadioUpdate" value="Low"> Low
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="update-todo">수정</button>
                </div>

            </div>
        </div>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assers/js/toastr.min.js"></script>
</body>

</html>